<div class="header">
  <nav class="col-md-12 head">
  <div class="container">

      <div class="navigation">
        <span class="menu"></span>
        <ul class="navig">
          <li><a href="/"class="active">Home</a></li>
          <li><a href="#heroes">Heroes</a></li>
          <li><a href="#about">About</a></li>
        </ul>
      </div>
      <div class="clearfix"></div>
  </div>
  </nav>
</div>

<div class="container-fluid top">
  <div class="banner">
    <div class="banner-top">
      <div class="banner-text">
        <!-- add background image for the game  -->
        <h2>Welcome on</h2>
        <h1>Clash Game</h1>
        <div class="banner-btn">
          <a href="#about">More Information</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="heroes" class="container-fluid">
  <div class="col-md-12 text-center">
    <!-- base introduction to ameliorate  -->
    <h1>Heroes</h1>
    <p>Here you will find some heroes description</p>
    <div class="banner-btn">
      <a href="#section1">More Information</a>
    </div>
  </div>
</div>


<div id="about" class="container-fluid">
  <div class="col-md-12 text-center">
    <!-- base introduction to ameliorate  -->
    <h1>More information</h1>
    <p>Welcome on Clash Game, are you ready to fight?! Wait you don't know what is it?</p>
    <p>Let me explain you. You have different player you have to make fight and only one must survive!! </p>
    <p>You have different items to add to your player weapons, shield and special capacity</p>
    <p>But be careful even the stronger player can lose.</p>
    <p>Attack don't make win think the defense too</p>
  </div>
</div>

